{
    "swagger": "2.0",
    "info": {
        "description": "B Y E C O M  is your ecom. shop soltion, where you can sell anything online with ease and at an affordable price. We provide an eCommerce platform for businesses to sell their products online and connect with customers worldwide.",
        "title": "B Y E C O M  LTD",
        "contact": {},
        "version": "1.0"
    },
    "host": "byecom.shop",
    "basePath": "/",
    "paths": {
        "/admin/category": {
            "get": {
                "description": "Showing category details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Category"
                ],
                "summary": "Category Show",
                "responses": {}
            },
            "put": {
                "description": "Editing category with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Category"
                ],
                "summary": "Category Edit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "category id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cateory name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cateory description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Adding category with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Category"
                ],
                "summary": "Category Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "cateory name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "cateory description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Deleting category completely",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Category"
                ],
                "summary": "Category Delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {}
            },
            "patch": {
                "description": "Blocking or unblocking category with products",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Category"
                ],
                "summary": "Category Blocking/Unblocking",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {}
            }
        },
        "/admin/coupon": {
            "get": {
                "description": "Showing Coupon details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Coupon"
                ],
                "summary": "Coupon Show",
                "responses": {}
            },
            "put": {
                "description": "Editing Coupon with it's details",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Coupon"
                ],
                "summary": "Coupon Edit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon code",
                        "name": "code",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon condition",
                        "name": "condition",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon value",
                        "name": "value",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Adding Coupon with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Coupon"
                ],
                "summary": "Coupon Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "coupon name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon code",
                        "name": "code",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon condition",
                        "name": "condition",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon value",
                        "name": "value",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon expires",
                        "name": "expires",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Deleting coupon completely",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Coupon"
                ],
                "summary": "Coupon Delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/admin/login": {
            "post": {
                "description": "Admin Login with email and password",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Admin Login",
                "parameters": [
                    {
                        "type": "string",
                        "description": "admin email",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "admin password",
                        "name": "pass",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/admin/logout": {
            "delete": {
                "description": "Admin Logout by clearing cookie",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Admin Logout",
                "responses": {}
            }
        },
        "/admin/order": {
            "get": {
                "description": "Showing orders details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Order"
                ],
                "summary": "Orders Show",
                "responses": {}
            },
            "patch": {
                "description": "Changing order status on any order by admin",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Order"
                ],
                "summary": "Order status change",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Status of order",
                        "name": "status",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "name search by order",
                        "name": "order",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/admin/product": {
            "get": {
                "description": "Showing Products details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Product"
                ],
                "summary": "Products Show",
                "responses": {}
            },
            "put": {
                "description": "Editing Product with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Product"
                ],
                "summary": "Product Edit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product Name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Product Price",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Product Color",
                        "name": "color",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Product Quantity",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product Description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product Category",
                        "name": "category",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "csv",
                        "description": "Product Image",
                        "name": "image",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Adding Product with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Product"
                ],
                "summary": "Product Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Product Name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Product Price",
                        "name": "price",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Product Offer",
                        "name": "offer",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "description": "Product Color",
                        "name": "color",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Product Quantity",
                        "name": "quantity",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product Description",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product Category",
                        "name": "category",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "csv",
                        "description": "Product Image",
                        "name": "image",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Deleting product completely",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Product"
                ],
                "summary": "Product Delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/admin/report": {
            "get": {
                "description": "Showing sales details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin Report"
                ],
                "summary": "Report Show",
                "responses": {}
            }
        },
        "/admin/user": {
            "get": {
                "description": "Showing Users details in admin side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin User"
                ],
                "summary": "Users Show",
                "responses": {}
            },
            "patch": {
                "description": "Blocking or unblocking User",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin User"
                ],
                "summary": "User Blocking/Unblocking",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/address": {
            "put": {
                "description": "Editing Address with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Address"
                ],
                "summary": "Address Edit",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Phone",
                        "name": "phone",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Pincode",
                        "name": "pincode",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "City",
                        "name": "city",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "State",
                        "name": "state",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Landmark",
                        "name": "landmark",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Address",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Adding Address with it's details",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Address"
                ],
                "summary": "Address Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Phone",
                        "name": "phone",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Pincode",
                        "name": "pincode",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "City",
                        "name": "city",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "State",
                        "name": "state",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Landmark",
                        "name": "landmark",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Address",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Deleting address completely",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Address"
                ],
                "summary": "Address Delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/cart": {
            "get": {
                "description": "Showing Cart details in user side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Cart"
                ],
                "summary": "Cart Show",
                "responses": {}
            },
            "post": {
                "description": "Adding Cart with it's details",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Cart"
                ],
                "summary": "Cart Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "product id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "product color",
                        "name": "color",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Deleting a Product from Cart completely",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Cart"
                ],
                "summary": "Cart Delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name search by id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "patch": {
                "description": "Decreasing Cart quantity",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Cart"
                ],
                "summary": "Less Cart",
                "parameters": [
                    {
                        "type": "string",
                        "description": "cart id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/cart/checkout": {
            "post": {
                "description": "Buying cart products",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Order"
                ],
                "summary": "Cart Chekout Only",
                "parameters": [
                    {
                        "type": "string",
                        "description": "address id",
                        "name": "address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "coupon code",
                        "name": "coupon",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "payment method",
                        "name": "method",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/google/callback": {
            "get": {
                "description": "Callback function after getting details",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Google"
                ],
                "summary": "Google Callback",
                "responses": {}
            }
        },
        "/user/google/login": {
            "get": {
                "description": "Logging in/Signing up with google auth",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Google"
                ],
                "summary": "Google Login",
                "responses": {}
            }
        },
        "/user/home": {
            "get": {
                "description": "Showing all Products details in user side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Home\u0026Product"
                ],
                "summary": "Home Show",
                "responses": {}
            }
        },
        "/user/home/filter": {
            "get": {
                "description": "Filtering Products in user side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Home\u0026Product"
                ],
                "summary": "Filtered Products",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter search",
                        "name": "category",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/home/search": {
            "get": {
                "description": "Searching Products in user side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Home\u0026Product"
                ],
                "summary": "Searching Products",
                "parameters": [
                    {
                        "type": "string",
                        "description": "product search",
                        "name": "search",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/home/sort": {
            "get": {
                "description": "Showing all Products details by sorting in user side",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Home\u0026Product"
                ],
                "summary": "Sorted Home Show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "sort type",
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/login": {
            "post": {
                "description": "Logging in user with email and pass",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Login\u0026Signup"
                ],
                "summary": "Login User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User email",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User pass",
                        "name": "pass",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/logout": {
            "delete": {
                "description": "Logging out user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Login\u0026Signup"
                ],
                "summary": "Logout User",
                "responses": {}
            }
        },
        "/user/order": {
            "get": {
                "description": "Showing Orders with its details",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Order"
                ],
                "summary": "Show Orders",
                "responses": {}
            },
            "patch": {
                "description": "Cancelling ordered products individually",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Order"
                ],
                "summary": "Cancelling Order",
                "parameters": [
                    {
                        "type": "string",
                        "description": "order id",
                        "name": "order",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/password": {
            "patch": {
                "description": "Updating user password",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Profile"
                ],
                "summary": "Updating Password",
                "parameters": [
                    {
                        "type": "string",
                        "description": "current pass",
                        "name": "currentpass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "new pass",
                        "name": "newpass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "repeat pass",
                        "name": "repeatpass",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/payment": {
            "get": {
                "description": "Razor Pay payment gateway",
                "tags": [
                    "User Payment"
                ],
                "summary": "Razor Pay",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Payment id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Verifying Payment and updating payment status",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Payment"
                ],
                "summary": "Verify Payment",
                "parameters": [
                    {
                        "description": "Payment details",
                        "name": "verify",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/controllers.Razor"
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/user/product": {
            "get": {
                "description": "Showing Product details",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Home\u0026Product"
                ],
                "summary": "Show Product",
                "parameters": [
                    {
                        "type": "string",
                        "description": "product id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/profile": {
            "get": {
                "description": "Showing User Profile",
                "tags": [
                    "User Profile"
                ],
                "summary": "Show Profile",
                "responses": {}
            },
            "patch": {
                "description": "Editing user profile",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Profile"
                ],
                "summary": "Editing Profile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user's name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "user's phone",
                        "name": "phone",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "user's gender",
                        "name": "gender",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/rating": {
            "put": {
                "description": "Editing Rating and Review for product",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Rating"
                ],
                "summary": "Rating Editing",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Product review",
                        "name": "rating",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product rating",
                        "name": "review",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "post": {
                "description": "Adding Rating and Review for product",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Rating"
                ],
                "summary": "Rating Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Product Id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product review",
                        "name": "rating",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Product rating",
                        "name": "review",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/reset": {
            "post": {
                "description": "Changing user password without login",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User ForgetPass"
                ],
                "summary": "Changing Pass",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Reset code",
                        "name": "code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "New Pass",
                        "name": "newpass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Repeat Pass",
                        "name": "repeatpass",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/reset/password": {
            "post": {
                "description": "Initialilzing forgot password without login",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User ForgetPass"
                ],
                "summary": "Forgot Pass Init",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User email",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/signup": {
            "post": {
                "description": "Sigining up user",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Login\u0026Signup"
                ],
                "summary": "Signup User",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User name",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User email",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User pass",
                        "name": "pass",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User phone",
                        "name": "phone",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User gender",
                        "name": "gender",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/signup/otp": {
            "post": {
                "description": "Verifying the user otp and creating user",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Login\u0026Signup"
                ],
                "summary": "Otp verify",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User Otp",
                        "name": "otp",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {}
            }
        },
        "/user/wallet": {
            "get": {
                "description": "Showing User Wallet",
                "tags": [
                    "User Wallet"
                ],
                "summary": "Show Wallet",
                "responses": {}
            }
        },
        "/user/wishlist": {
            "get": {
                "description": "Showing products from wishlist",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Wishlist"
                ],
                "summary": "Show Wishlist",
                "responses": {}
            },
            "post": {
                "description": "Adding a product into wishlist",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Wishlist"
                ],
                "summary": "Wishlist Add",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Product Id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            },
            "delete": {
                "description": "Removing product from wishlist",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Wishlist"
                ],
                "summary": "Remove Wishlist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Product id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {}
            }
        }
    },
    "definitions": {
        "controllers.Razor": {
            "type": "object",
            "properties": {
                "OrderID": {
                    "type": "string"
                },
                "PaymentID": {
                    "type": "string"
                },
                "Signature": {
                    "type": "string"
                }
            }
        }
    }
}